APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/SIGGAF/public
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gestion_ganadera
DB_USERNAME=root
DB_PASSWORD=
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=
SEED_ADMIN_NAME=Facundo
SEED_ADMIN_LASTNAME=Administrador
