APP_ENV=local
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ganaderia
DB_USERNAME=root
DB_PASSWORD=

SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=CAMBIAR_POR_CLAVE_SEGURA
SEED_ADMIN_NAME=Administrador
SEED_ADMIN_LASTNAME=SIGGAF
SEED_ADMIN_CUIL=CAMBIAR_CUIL_11_DIGITOS

SEED_ESTABLISHMENT_NAME=La Celina
SEED_ESTABLISHMENT_CITY=Formosa
SEED_ESTABLISHMENT_PROVINCE=Formosa
SEED_ESTABLISHMENT_AREA=1.00

SEED_SECURITY_ANSWER_1=CAMBIAR_RESPUESTA_1
SEED_SECURITY_ANSWER_2=CAMBIAR_RESPUESTA_2
SEED_SECURITY_ANSWER_3=CAMBIAR_RESPUESTA_3
